.vscode/**
.vscode-test/**
src/**
.gitignore
.git
.github
tsconfig.json
webpack.config.js
**/*.map
**/*.ts
!node_modules/**
!node_modules/tencentcloud-sdk-nodejs-tmt/**
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
docs/**
node_modules
test/**
scripts/**
out/test/**
.git/**